[submodule "COLID-AppData-Service"]
	path = COLID-AppData-Service
	url = https://github.com/Bayer-Group/COLID-AppData-Service.git
[submodule "COLID-Data-Marketplace-Frontend"]
	path = COLID-Data-Marketplace-Frontend
	url = https://github.com/Bayer-Group/COLID-Data-Marketplace-Frontend.git
[submodule "COLID-Editor-Frontend"]
	path = COLID-Editor-Frontend
	url = https://github.com/Bayer-Group/COLID-Editor-Frontend.git
[submodule "COLID-Indexing-Crawler-Service"]
	path = COLID-Indexing-Crawler-Service
	url = https://github.com/Bayer-Group/COLID-Indexing-Crawler-Service.git
[submodule "COLID-Registration-Service"]
	path = COLID-Registration-Service
	url = https://github.com/Bayer-Group/COLID-Registration-Service.git
[submodule "COLID-Reporting-Service"]
	path = COLID-Reporting-Service
	url = https://github.com/Bayer-Group/COLID-Reporting-Service.git
[submodule "COLID-Scheduler-Service"]
	path = COLID-Scheduler-Service
	url = https://github.com/Bayer-Group/COLID-Scheduler-Service.git
[submodule "COLID-Search-Service"]
	path = COLID-Search-Service
	url = https://github.com/Bayer-Group/COLID-Search-Service.git
